{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}

{% block payment_details %}
        <div class="well">

        <div class="sub-header">
            <h3>{% trans "Cash on Delivery" %}</h3>
        </div>
                <form action="{% url 'checkout:preview' %}" class="form-stacked" method="post">
            {% csrf_token %}
            {{ billing_address_form.non_field_errors }}

            {% if basket.is_shipping_required %}
                <div class="form-group">
                    <ul>
                        <label for="{{ billing_address_form.same_as_shipping.0.id_for_label }}" class="radio">
                            {{ billing_address_form.same_as_shipping.0.tag }}
                            {{ billing_address_form.same_as_shipping.0.choice_label }}
                        </label>
                        <label for="{{ billing_address_form.same_as_shipping.1.id_for_label }}" class="radio">
                            {{ billing_address_form.same_as_shipping.1.tag }}
                            {{ billing_address_form.same_as_shipping.1.choice_label }}
                        </label>
                    </ul>
                </div>
                <div id="billing_address_form" style="display:none">
            {% else %}
                <div style="">
                    {{ billing_address_form.same_as_shipping }}
                </div>
                <div id="billing_address_form">
            {% endif %}
            {% include 'partials/form_field.html' with field=billing_address_form.line1 %}
            {% include 'partials/form_field.html' with field=billing_address_form.line2 %}
            {% include 'partials/form_field.html' with field=billing_address_form.line3 %}
            {% include 'partials/form_field.html' with field=billing_address_form.country %}
            {% include 'partials/form_field.html' with field=billing_address_form.state %}
            {% include 'partials/form_field.html' with field=billing_address_form.line4 %}
            {% include 'partials/form_field.html' with field=billing_address_form.postcode %}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">{% trans "Continue" %}</button>
            </div>
        </form>
                
        </div>

{% endblock %}


{% block onbodyload %}
    {# Toggle visibility of the billing address form #}
    if ($("input[name='same_as_shipping']")[1].checked){
        $("#billing_address_form").show();
    } 
    $("input[name='same_as_shipping']").change(function(){
        $("#billing_address_form").toggle();
    });
{% endblock %}
